@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoPhim - MovieWebsite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
</head>

<body>
    <header class="fly fixed">
        <div class="header-elements">
            <div class="for-mobile menu-toggle">
                <div class="icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="for-mobile search-toggle">
                <div class="icon-search">
               
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <a id="logo" title="RoPhim" href="/movies">
           
                <img src="https://www.rophim.me/images/logo.svg" alt="RoPhim">
            </a>
            <div id="search" class="">
                <div class="search-elements">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input id="main-search" class="search-input" placeholder="Tìm kiếm phim, diễn viên"
                        autocomplete="off">
                </div>
            </div>
            <div class="el-group">
                <div id="main_menu">
                    <div class="menu-item">
                        <a title="Chủ đề" href="/genre/index">Chủ Đề</a>
                    </div>
                    <div class="menu-item">
                        <a title="Thể loại" href="/the-loai">Thể loại</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim lẻ" href="/phim-le">Phim Lẻ</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim bộ" href="/phim-bo">Phim Bộ</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim bộ" href="/phim-bo">Quốc gia</a>
                    </div>
                    <div class="menu-item">
                        <a title="Diễn viên" href="/dien-vien">Diễn Viên</a>
                    </div>
                    <div class="menu-item">
                        <a title="Lịch chiếu" href="/lich-chieu">Lịch chiếu</a>
                    </div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="app-download">
                    <div class="dropdown">
                        <a class="app-download-button">
                            <div class="inc-icon">
                                <svg id="Pc" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.9998 16.8992C11.1655 16.8992 11.2998 16.7649 11.2998 16.5992V11.5982C11.2998 9.28322 13.1838 7.39922 15.4998 7.39922H18.7998C18.9238 7.39922 19.0446 7.41106 19.1616 7.43327C19.3745 7.47368 19.5998 7.32682 19.5998 7.11012V6.69922C19.5998 6.67022 19.5968 6.64022 19.5918 6.61222C19.2488 4.66722 17.4468 3.19922 15.4008 3.19922H6.79982C4.42882 3.19922 2.49982 5.12822 2.49982 7.49922V12.5982C2.49982 14.9692 4.42882 16.8992 6.79982 16.8992H8.24282L7.86182 19.2492H5.85982C5.44582 19.2492 5.10982 19.5852 5.10982 19.9992C5.10982 20.4132 5.44582 20.7492 5.85982 20.7492H10.7598C11.1738 20.7492 11.5098 20.4132 11.5098 19.9992C11.5098 19.5852 11.1738 19.2492 10.7598 19.2492H9.38082L9.76182 16.8992H10.9998Z"
                                        fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.1912 18.4564C16.7712 18.4564 16.4302 18.1154 16.4302 17.6954C16.4302 17.2754 16.7712 16.9344 17.1912 16.9344C17.6112 16.9344 17.9522 17.2754 17.9522 17.6954C17.9522 18.1154 17.6112 18.4564 17.1912 18.4564ZM18.8002 8.90039H15.5002C14.0362 8.90039 12.8002 10.1364 12.8002 11.5994V18.0994C12.8002 19.5884 14.0112 20.7994 15.5002 20.7994H18.8002C20.2892 20.7994 21.5002 19.5884 21.5002 18.0994V11.5994C21.5002 10.1364 20.2642 8.90039 18.8002 8.90039Z"
                                        fill="#ffffff"></path>
                                </svg>
                            </div>
                            <div class="text text-light">
                                <span>Tải ứng dụng</span>
                                <strong>RoPhim</strong>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="main_user">
                    <a class="button-user button-login">
                        <div class="line-center">
                            <i class="fa-solid fa-user ms-1"></i>
                            <span>Thành viên</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container1">
      
        <main role="main" >
            @RenderBody()
            <!-- Content will be rendered here -->
        </main>
    </div>
 

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>

</html> *@



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoPhim - MovieWebsite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
    <!-- Đảm bảo file rophim.css của bạn được load -->
    @* <link rel="stylesheet" href="~/css/rophim.css" asp-append-version="true" />  *@
</head>

<body>
    <header class="fly fixed">
        <div class="header-elements">
            <div class="for-mobile menu-toggle">
                <div class="icon-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="for-mobile search-toggle">
                <div class="icon-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <a id="logo" title="RoPhim" href="/movies">
                <img src="https://www.rophim.me/images/logo.svg" alt="RoPhim">
            </a>
            <div id="search" class="">
                <div class="search-elements">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input id="main-search" class="search-input" placeholder="Tìm kiếm phim, diễn viên"
                        autocomplete="off">
                </div>
            </div>
            <div class="el-group">
                <div id="main_menu">
                    <div class="menu-item">
                        <a title="Chủ đề" href="/genre/index">Chủ Đề</a>
                    </div>
                    <!-- START: Thể loại Dropdown -->
                    <div class="the-loai-wrapper">
                        <div class="menu-item">
                            <a title="Thể loại" href="/movies/MoviesByGenre/" id="theLoaiLink">Thể loại</a>
                        </div>
                        <div class="the-loai-dropdown" id="genreDropdown">
                            <div class="genre-grid">
                                <!-- Cột 1 -->
                                <a href="/movies/MoviesByGenre/">Anime</a>
                                <a href="/movies/MoviesByGenre/">Chuyển Thể</a>
                                <a href="/movies/MoviesByGenre/">Chương Trình Tr...</a>
                                <a href="/movies/MoviesByGenre/">Cổ Trang</a>
                                <a href="/movies/MoviesByGenre/">Cổ Tích</a>
                                <a href="/movies/MoviesByGenre/">Disney</a>
                                <a href="/movies/MoviesByGenre/">Giả Tưởng</a>
                                <a href="/movies/MoviesByGenre/1">Hành Động</a>
                                <a href="/movies/MoviesByGenre/4">Kinh Dị</a>
                                <a href="/movies/MoviesByGenre/">LGBT+</a>
                                <a href="/movies/MoviesByGenre/">Miền Viễn Tây</a>
                                <a href="/movies/MoviesByGenre/">Phép Thuật</a>
                                <a href="/movies/MoviesByGenre/">Thể Thao</a>
                                <a href="/movies/MoviesByGenre/">Tài Liệu</a>
                                <a href="/movies/MoviesByGenre/5">Viễn Tưởng</a>
                                <a href="/movies/MoviesByGenre/">Đời Thường</a>

                                <!-- Cột 2 -->
                                <a href="/movies/MoviesByGenre/">Bí Ẩn</a>
                                <a href="/movies/MoviesByGenre/7">Chính Kịch</a>
                                <a href="/movies/MoviesByGenre/">Cung Đấu</a>
                                <a href="/movies/MoviesByGenre/">Gay Cấn</a>
                                <a href="/movies/MoviesByGenre/">Hoàng Cung</a>
                                <a href="/movies/MoviesByGenre/">Hình Sự</a>
                                <a href="/movies/MoviesByGenre/">Kinh Điển</a>
                                <a href="/movies/MoviesByGenre/">Lãng Mạn</a>
                                <a href="/movies/MoviesByGenre/">Nghề Nghiệp</a>
                                <a href="/movies/MoviesByGenre/">Siêu Anh Hùng</a>
                                <a href="/movies/MoviesByGenre/">Truyền Hình Thự...</a>
                                <a href="/movies/MoviesByGenre/8">Tâm Lý</a>
                                <a href="/movies/MoviesByGenre/">Võ Thuật</a>

                                <!-- Cột 3 -->
                                <a href="/movies/MoviesByGenre/">Chiến Tranh</a>
                                <a href="/movies/MoviesByGenre/">Chiếu Rạp</a>
                                <a href="/movies/MoviesByGenre/">Chính Luận</a>
                                <a href="/movies/MoviesByGenre/">Chính Trị</a>
                                <a href="/movies/MoviesByGenre/">Cách Mạng</a>
                                <a href="/movies/MoviesByGenre/">Cổ Điển</a>
                                <a href="/movies/MoviesByGenre/">DC</a>
                                <a href="/movies/MoviesByGenre/20">Gia Đình</a>
                                <a href="/movies/MoviesByGenre/">Giáng Sinh</a>
                                <a href="/movies/MoviesByGenre/9">Hoạt Hình</a>
                                <a href="/movies/MoviesByGenre/3">Hài Hước</a>
                                <a href="/movies/MoviesByGenre/">Học Đường</a>
                                <a href="/movies/MoviesByGenre/">Khoa Học</a>
                                <a href="/movies/MoviesByGenre/">Kịch Nói</a>
                                <a href="/movies/MoviesByGenre/">Kỳ Ảo</a>
                                <a href="/movies/MoviesByGenre/">Lịch Sử</a>
                                <a href="/movies/MoviesByGenre/">Marvel</a>
                                <a href="/movies/MoviesByGenre/">Nhạc Kịch</a>
                                <a href="/movies/MoviesByGenre/6">Phiêu Lưu</a>
                                <a href="/movies/MoviesByGenre/">Thiếu Nhi</a>
                                <a href="/movies/MoviesByGenre/">Thần Thoại</a>
                                <a href="/movies/MoviesByGenre/">Tuổi Trẻ</a>
                                <a href="/movies/MoviesByGenre/2">Tình Cảm</a>
                                <a href="/movies/MoviesByGenre/">Tập Luyện</a>
                                <a href="/movies/MoviesByGenre/">Xuyên Không</a>
                                <a href="/movies/MoviesByGenre/">Đau Thương</a>
                            </div>
                        </div>
                    </div>
                    <!-- END: Thể loại Dropdown -->

                    <div class="menu-item">
                        <a title="Phim lẻ" href="/movies/Feature">Phim Lẻ</a>
                    </div>
                    <div class="menu-item">
                        <a title="Phim bộ" href="/movies/Series">Phim Bộ </a>
                    </div>
                    <div class="menu-item ">
                        @* <a title="Xem Chung" href="/xem-chung">Xem Chung <span class="new-label">NEW</span></a> *@
                        <a class="nav-link" asp-controller="WatchParty" asp-action="EnterInviteCode">Xem Chung <span
                                class="new-label">NEW</span></a>
                    </div>

                    @* Chỉ hiển thị nút "Xem Cùng Nhau" nếu Controller đã cung cấp CurrentMovieId *@
                    @* @await Html.PartialAsync("_WatchTogetherPartial") *@

                    <div class="the-loai-wrapper">
                        <div class="menu-item">
                            <a title="Thể loại" href="/movies/quocgia" id="theLoaiLink">Quốc gia</a>
                        </div>
                        <div class="the-loai-dropdown" id="genreDropdown">
                            <div class="genre-grid">
                                <a href="/movies/quocgia/5">Mỹ</a>
                                <a href="/movies/quocgia/1">Việt Nam</a>
                                <a href="/movies/quocgia/2">Hàn Quốc</a>
                                <a href="/movies/quocgia/4">Nhật Bản</a>
                                <a href="/movies/quocgia/3">Trung Quốc</a>
                                <a href="/movies/quocgia/7">Anh</a>
                                <a href="/movies/quocgia/8">Pháp</a>
                                <a href="/movies/quocgia/10">Ấn Độ</a>
                                <a href="/movies/quocgia/6">Thái Lan</a>
                                <a href="/movies/quocgia/11">Tây Ban Nha</a>
                                <a href="/movies/quocgia/it">Ý</a>
                                <a href="/movies/quocgia/de">Đức</a>
                                <a href="/movies/quocgia/ca">Canada</a>
                                <a href="/movies/quocgia/au">Úc</a>
                                <a href="/movies/quocgia/other">Khác</a>
                                <!-- Thêm nhiều quốc gia khác tùy theo dữ liệu của bạn -->
                            </div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <a title="Diễn viên" href="/reels/watch">Reels</a>
                    </div>
                    <div class="menu-item">
                        <a title="Lịch chiếu" href="/schedule">Lịch chiếu</a>
                    </div>
                    <!-- NÚT MỚI ĐỂ MỞ MODAL THAM GIA PHÒNG -->
                    @* <div class="menu-item">
                        <a href="/movies/MoviesByGenre/" data-bs-toggle="modal" data-bs-target="#joinRoomModal" class="text-warning">
                            <i class="fas fa-sign-in-alt"></i> Tham gia phòng
                        </a>
                    </div> *@
                </div>
                <div class="flex-grow-1"></div>
                <div class="app-download">
                    <div class="dropdown">
                        <a class="app-download-button">
                            <div class="inc-icon">
                                <svg id="Pc" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.9998 16.8992C11.1655 16.8992 11.2998 16.7649 11.2998 16.5992V11.5982C11.2998 9.28322 13.1838 7.39922 15.4998 7.39922H18.7998C18.9238 7.39922 19.0446 7.41106 19.1616 7.43327C19.3745 7.47368 19.5998 7.32682 19.5998 7.11012V6.69922C19.5998 6.67022 19.5968 6.64022 19.5918 6.61222C19.2488 4.66722 17.4468 3.19922 15.4008 3.19922H6.79982C4.42882 3.19922 2.49982 5.12822 2.49982 7.49922V12.5982C2.49982 14.9692 4.42882 16.8992 6.79982 16.8992H8.24282L7.86182 19.2492H5.85982C5.44582 19.2492 5.10982 19.5852 5.10982 19.9992C5.10982 20.4132 5.44582 20.7492 5.85982 20.7492H10.7598C11.1738 20.7492 11.5098 20.4132 11.5098 19.9992C11.5098 19.5852 11.1738 19.2492 10.7598 19.2492H9.38082L9.76182 16.8992H10.9998Z"
                                        fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.1912 18.4564C16.7712 18.4564 16.4302 18.1154 16.4302 17.6954C16.4302 17.2754 16.7712 16.9344 17.1912 16.9344C17.6112 16.9344 17.9522 17.2754 17.9522 17.6954C17.9522 18.1154 17.6112 18.4564 17.1912 18.4564ZM18.8002 8.90039H15.5002C14.0362 8.90039 12.8002 10.1364 12.8002 11.5994V18.0994C12.8002 19.5884 14.0112 20.7994 15.5002 20.7994H18.8002C20.2892 20.7994 21.5002 19.5884 21.5002 18.0994V11.5994C21.5002 10.1364 20.2642 8.90039 18.8002 8.90039Z"
                                        fill="#ffffff"></path>
                                </svg>
                            </div>
                            <div class="text text-light">
                                <span>Tải ứng dụng</span>
                                <strong>RoPhim</strong>
                            </div>
                        </a>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @* --- Hiển thị khi đã đăng nhập --- *@
                    <div id="main_user">
                        @* Bạn có thể thêm một dropdown menu hoặc đơn giản là hiển thị tên người dùng *@
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/movies/MoviesByGenre/" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user ms-1"></i>
                                @* <span>Xin chào @User.Identity.Name!</span> Hiển thị tên người dùng (thường là email) *@
                                <span>Xin chào @UserManager.GetUserAsync(User).Result?.FullName!</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @* Thêm các liên kết khác cho profile, settings nếu cần *@
                                @* <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Hồ sơ</a></li>
                                <li><hr class="dropdown-divider"></li> *@

                                @* Nút Đăng xuất *@
                                <li>
                                    @* Sử dụng một form POST cho Logout để đảm bảo bảo mật *@
                                    <form asp-controller="Account" asp-action="Profile" method="post" id="logoutForm">
                                        @Html.AntiForgeryToken() @* Quan trọng cho POST request *@
                                        <button type="submit" class="dropdown-item">Cá nhân</button>
                                    </form>
                                </li>
                                 <li>
                                    @* Sử dụng một form POST cho Logout để đảm bảo bảo mật *@
                                    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                        @Html.AntiForgeryToken() @* Quan trọng cho POST request *@
                                        <button type="submit" class="dropdown-item">Đăng xuất</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    @* --- Hiển thị khi chưa đăng nhập --- *@
                    <div id="main_user">
                        @* Liên kết đến trang Đăng nhập như ban đầu *@
                        <a class="button-user button-login" asp-controller="Account" asp-action="Login">
                            <div class="line-center">
                                <i class="fa-solid fa-user ms-1"></i>
                                <span>Thành viên</span>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </header>


    <div class="container1">
        <main role="main">
            @RenderBody()
        </main>
        @* @await Html.PartialAsync("_Footer") *@

    </div>




    <!-- Trong file _Layout.cshtml -->
    @* @await Html.PartialAsync("_JoinRoomModal") *@


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


    @* Đặt script của bạn ở đây, hoặc trong một file JS riêng và gọi nó *@
    @* <script>
        document.addEventListener('DOMContentLoaded', () => {
            const theLoaiLink = document.getElementById('theLoaiLink');
            const genreDropdown = document.getElementById('genreDropdown');
            const theLoaiWrapper = document.querySelector('.the-loai-wrapper');

            if (theLoaiLink && genreDropdown && theLoaiWrapper) {
                theLoaiLink.addEventListener('click', (event) => {
                    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ 'a'
                    genreDropdown.classList.toggle('show');
                });

                // Đóng dropdown khi click ra ngoài
                document.addEventListener('click', (event) => {
                    // Nếu click không phải là bên trong dropdown và không phải là link "Thể loại"
                    if (!theLoaiWrapper.contains(event.target) && genreDropdown.classList.contains('show')) {
                        genreDropdown.classList.remove('show');
                    }
                });
            }
        });
        const joinRoomModalEl = document.getElementById('joinRoomModal');
        if (joinRoomModalEl) {
            const inviteCodeInput = joinRoomModalEl.querySelector('input[name="inviteCode"]');

            // Lắng nghe sự kiện KHI modal được hiển thị xong
            joinRoomModalEl.addEventListener('shown.bs.modal', function () {
                // Đặt focus vào ô input
                if (inviteCodeInput) {
                    inviteCodeInput.focus();
                }
            });
        }
        const joinRoomForm = document.getElementById('joinRoomForm');
        const joinRoomSubmitBtn = document.getElementById('joinRoomSubmitBtn');

        if (joinRoomForm && joinRoomSubmitBtn) {
            // Lắng nghe sự kiện click trên nút "Tham gia"
            joinRoomSubmitBtn.addEventListener('click', function () {
                // Tự tay ra lệnh cho form submit
                console.log("Nút Tham gia trong modal được nhấn, đang submit form...");
                joinRoomForm.submit();
            });
        }
    </script> *@

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>

</html>