@model Schedule

@{
    ViewData["Title"] = "Xác nhận Xóa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn xóa lịch chiếu này không?</h3>
<div>
    <h4>Thông tin Lịch chiếu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Phim</dt>
        <dd class="col-sm-9">@Model.Movie.Title</dd>
        
        @if(Model.Episode != null)
        {
            <dt class="col-sm-3">Tập</dt>
            <dd class="col-sm-9">Tập @Model.Episode.EpisodeNumber: @Model.Episode.Title</dd>
        }

        <dt class="col-sm-3">Thời gian chiếu</dt>
        <dd class="col-sm-9">@Model.ScheduledTime.ToLocalTime().ToString("F")</dd>

        <dt class="col-sm-3">Mô tả</dt>
        <dd class="col-sm-9">@Model.Description</dd>
    </dl>
    
    <form asp-controller="Schedule" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-controller="Schedule" asp-action="Manage">Quay lại danh sách</a>
    </form>
</div>